.social {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &__list {
        list-style: none;
        margin: 0;
        padding: 0 8px 0 5px;
        // border: 1px solid #ccc;
        border-radius: 0 3px 3px 0;
    }

    &__item {
        margin: 0;
        padding: 0;
    }

    &__link {
        font-size: 35px;
        line-height: 1;
        transition: all .2s;

        &:hover {
            color: #ff9b05;
        }
    }

    &__face {
        color: #3b5998;
    }

    &__twit {
        color:  #00aced;
    }

    &__lin {
        color:  #007bb6;
    }

    &__plus {
        color:  #dd4b39;
    }

    &__pin {
        color:  #cb2027;
    }
}